.notes {
  display: flex;
  flex-direction: column;
  gap: 5.6rem;
}

.searchContainer {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 14px;

  @media screen and (min-width: 768px) {
    width: 50%;
    margin-inline: auto;
  }
}

.noteFormContainer {
  box-sizing: border-box;

  @media screen and (min-width: 768px) {
    width: 50%;
    margin-inline: auto;
  }
}

.notesContainer {
  text-align: center;

  .disclaimer {
    opacity: 0.5;
    font-size: 1.6rem;
    font-weight: 400;
  }

  .notesList {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;

    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
