.notes {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.searchContainer {
  box-sizing: border-box;

  @media screen and (min-width: 768px) {
    width: 50%;
    margin-inline: auto;
  }
}

.notesContainer {
  text-align: center;

  .disclaimer {
    opacity: 0.5;
  }
}
